@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #0f0f0f;
	--card: #ffffff;
	--card-foreground: #0f0f0f;
	--popover: #ffffff;
	--popover-foreground: #0f0f0f;
	--primary: #ff0000;
	--primary-foreground: #ffffff;
	--secondary: #e5e5e5;
	--secondary-foreground: #0f0f0f;
	--muted: #f2f2f2;
	--muted-foreground: #606060;
	--accent: #f0f0f0;
	--accent-foreground: #0f0f0f;
	--destructive: #ff0000;
	--destructive-foreground: #ffffff;
	--border: #e0e0e0;
	--input: #ffffff;
	--ring: #ff0000;
	--chart-1: #ff0000;
	--chart-2: #2196f3;
	--chart-3: #4caf50;
	--chart-4: #ffc107;
	--chart-5: #9c27b0;
	--sidebar: #ffffff;
	--sidebar-foreground: #0f0f0f;
	--sidebar-primary: #ff0000;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #f0f0f0;
	--sidebar-accent-foreground: #0f0f0f;
	--sidebar-border: #e0e0e0;
	--sidebar-ring: #ff0000;
	--font-sans: Roboto, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: "Fira Code", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.08;
	--shadow-color: #000000;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
	--shadow-sm:
		0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
	--shadow:
		0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
	--shadow-md:
		0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
	--shadow-lg:
		0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
	--shadow-xl:
		0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: #0f0f0f;
	--foreground: #ffffff;
	--card: #282828;
	--card-foreground: #ffffff;
	--popover: #282828;
	--popover-foreground: #ffffff;
	--primary: #ff0000;
	--primary-foreground: #ffffff;
	--secondary: #383838;
	--secondary-foreground: #ffffff;
	--muted: #212121;
	--muted-foreground: #aaaaaa;
	--accent: #303030;
	--accent-foreground: #ffffff;
	--destructive: #ff0000;
	--destructive-foreground: #ffffff;
	--border: #424242;
	--input: #282828;
	--ring: #ff0000;
	--chart-1: #ff0000;
	--chart-2: #2196f3;
	--chart-3: #4caf50;
	--chart-4: #ffc107;
	--chart-5: #9c27b0;
	--sidebar: #0f0f0f;
	--sidebar-foreground: #ffffff;
	--sidebar-primary: #ff0000;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #303030;
	--sidebar-accent-foreground: #ffffff;
	--sidebar-border: #424242;
	--sidebar-ring: #ff0000;
	--font-sans: Roboto, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: "Fira Code", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.15);
	--shadow-sm:
		0px 4px 8px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow:
		0px 4px 8px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow-md:
		0px 4px 8px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
	--shadow-lg:
		0px 4px 8px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
	--shadow-xl:
		0px 4px 8px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.custom-scrollbar {
	scrollbar-width: thin;
	/* Firefox */
	scrollbar-color: #ff0000 transparent;
	/* Firefox */
}

/* WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	/* Thin width */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ff0000;
	border-radius: 3px;
	border: 1px solid transparent;
	/* Optional for a little padding */
}
